.footer{
    background: #eeeeee;
}
.footer .box-container{
    display: flex;
    background: #eeeeee;
    flex-wrap: wrap;
    gap:1.5rem;

}

.footer .box-container .url{
    display: inline-block;
    margin: 2rem;
}
.footer .box-container .url a{
    margin: 1rem;
}
.footer .box-container .url a:hover{
    color: mediumslateblue;
}


.footer .box-container .box{
    flex: 1 1 20rem;
}
.footer .box-container .box h3{
    color: #333333;
    font-size: 2rem;
    padding: 0.25rem 0;
}
.footer .box-container .box a{
    display:block;
    color: #666666;
    font-size: 1.5rem;
    padding: 1rem 0;

}
.footer .box-container .box a:hover{
    color: mediumslateblue;
    text-decoration: underline;
}
.footer .credit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #333333;
    border-top: .1rem solid rgba(0,0,0,.1);
}




.btn{
    display:inline-block ;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333333;
    color: #eeeeee;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

