:root{
    --MistyRose:#FFE4E1;
}
*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-famaly: Verdana, Geneva, Tahoma, sans-serif;
    outline: none; border: none;
    text-decoration: none;
    transition: .4s linear;
}

html {
    font-size: 65%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
section{
    padding:2rem 9%;
}

header{
    position: fixed;
    top:0; left:0; right:0;
    background: white;
    width: 100%;
    height: 8.3%;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    z-index: 100000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .about{
    background: white;
}

header .logo{
    font-size: 3rem;
    color:#333;
    font-weight: bolder;
}
header .logo:hover {
    color: #ff6800;
}
header .logo span{
    color: mediumslateblue;
}


header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
}

header .navbar a:hover{
    color: mediumslateblue;
}


header .icons a{
    font-size: 1.75rem;
    color: #333333;
    margin-left: 2rem;
}
header .icons a:hover{
    color: darkorange;
}


header .icons .fio{
    font-size: 1.75rem;
    color: #333333;
}

header .icons .fio:hover{
    color: #333333;
}


header .icons .exit{
    position: absolute;
    transform: translateX(-100%);

    margin-top: 2.35rem;
    font-size: 1.2rem;
    color: #333333;

}

header .icons .exit:hover{
    color: mediumslateblue;
}



header #toggler{
    display: none;
}
header .fa-bars{

    font-size: 3rem ;
    color: #333333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0,0,0,.3);
    display: none;
}


@media (max-width: 990px){
    html {
        font-size: 55%;
    }
    header{

        padding: 2rem ;}
    section{
        padding: 2rem;
    }
    .home{
        background-position: left ;
    }
}

@media (max-width: 760px){
    html .fa-bars
    {
        display: block;
    }
    header .navbar
    {
        position: absolute;
        top:100%; left:0; right:0;
        background: #eee;
        border-top: .1rem solid rgba(0,0,0,.1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    header .navbar a{
        margin:1.5rem;
        padding:1.5rem;
        background: white;
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
    }

    .home .content h3{
        font-size: 5rem;
    }
    .icons-container .icons  h3{
        font-size: 2rem;
    }
    .icons-container .icons  span{
        font-size: 1.7rem;
    }
}

@media (max-width: 450px){
    html {
        font-size: 50%;
    }
    header{
        padding: 2rem ;}

    .heading{
        font-size: 3rem;
    }
}


.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}
.home .content{
    max-width: 50rem;
}
.home .content h3{
    font-size: 5rem;
    color: white;
    position: absolute;
    top:8.5%; transform: translateY(250%);
    background: none;
}
.home .content a{
    font-size: 3.75rem;
    color: white;
    position: absolute;
    top:8.5%; transform: translateY(350%);
}


.heading{
    text-align: center;
    font-size: 4rem;
    color: #333333;
    padding:1rem;
    margin:2rem 0;
    background: #ff6800;
}



.about{
    width: border-box;

}

.about .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding: 2rem 0;
    padding-bottom: 3rem;
}
.about .row .video-container{
    flex: 1 1 53rem;
    position: relative;
}
.about .row .video-container video{
    width: 100%;
    border: 1.5rem solid #fff;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.about .row .content{
    flex:1 1 40rem;
}
.about .row .content h3{
    font-size: 3.75rem;
    color: #ff6800;
}
.about .row .content p{
    font-size: 1.75rem;
    letter-spacing: 2px;
    line-height: 20px;
    text-indent: 20px;
    text-align: justify;

    color: #666666;
    padding: 1rem 0;
    padding-top: 1rem;
    line-height: 1.5rem;
}



.icons-container{
    background: #eeeeee;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 5rem;
    padding-bottom: 6rem;
}
.icons-container .icons{
    background: white;
    border: .1rem solid rgba(0,0,0,.1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex:1 1 25rem;
}
.icons-container .icons img{
    height: 5rem;
    margin-right: 2rem;
}
.icons-container .icons  h3{
    color: #333333;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}
.icons-container .icons  span{
    color: #666666;
    padding-bottom: .5rem;
    font-size: 1.3rem;
}






.products .box-container{

    display: flex;
    flex-wrap: wrap;
    gap:4rem;
}

.products .box-container .box{
    width: 35rem;
    height: 50rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.1);
    position: relative;
}
.products .box-container .box .discount{
    position: absolute;
    top:3rem; left:1rem;
    padding: .7rem 1rem;
    font-size: 2.5rem;
    color: mediumslateblue;
    z-index: 1;
    border-radius: .5rem;
}

.products .box-container .box .image .icons{
    position: absolute;
    top:8.5%;
    transform: translateY(-50%) translateX(-10%);
    background: none;
}

.products .box-container .box .image .icons-show {
    position: absolute;
    top:8.5%;
    transform: translateY(-50%) translateX(-10%);
    background: none;
}
.products .box-container .box .image .icons-show a{
    padding-top: 3.75rem;
    padding-right: 1rem;
    padding-left: 15rem;
    font-size: 2rem;
    color: mediumslateblue;
}
.products .box-container .box .image .icons-show a:hover{
    color: #ff6800;
}
.products .box-container .box .image .icons a{

    padding-top: 3rem;
    padding-right: 1rem;
    padding-left: 33rem;
    font-size: 2rem;
    color: mediumslateblue;
}
.products .box-container .box .image .icons a:hover{
    color: #ff6800;
}

.products .box-container .box .image{

    width: 35rem;
    height: 40rem;
    position: relative;
    text-align: center;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: hidden;
}


.products .box-container .box .image img{
    position: relative;
    right: 110px;
    height: 100%;

}

.products .box-container .box:hover .image .img{
    transform: scale(1.1);
}


.products .box-container .box .content{
    padding: 2rem;
    text-align: center;
}
.products .box-container .box .content h3{
    text-transform: uppercase;
    font-size: 1.75rem;
    color: #333333;
}
.products .box-container .box .content .price{
    font-size: 2.5rem;
    color: #333333;
    font-weight: bolder;
    padding-top: 1rem;
}
.products .box-container .box .content .price span{
    font-size: 1.5rem;
    color: #666666;
    font-weight: lighter;
    text-decoration: line-through ;
}





.products .start  tr{
    font-size: 1.5rem;
    color: #666666;
    font-weight: lighter;

}


.contact{
    margin-top: 10rem;
    margin-bottom: 12rem;
}
.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.contact .row .image{
    flex:1 1 40rem;
}
.contact .row .image img{
    width: 100%;
}

.contact .row form{
    flex:1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border: .1rem solid rgba(0,0,0,.1);
    background: white;

}
.contact .row form .box{
   padding: 1rem;
    font-size: 1.7rem;
    color:#333333;
    text-transform: none;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .25rem;
    margin: .7rem 0;
    width: 100%;
}
.contact .row form .box:focus{
    border-color: #ff6800;
}
.contact .row form textarea {
    height: 15rem;
    resize: none;
}





.btn:hover{
    background: mediumslateblue ;
}




.home .slider{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.home .middle{
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
}


.home .navigation{
    position: absolute;
    bottom: 16px;
    left:50%;
    transform: translateX(-50%);
    display:flex;
}
.home .navigation .bar{
    height: 1rem;
    width: 3rem;
    margin: .5rem;
    cursor: pointer;
    background: white;
    opacity: .5;
    border-radius: 10px;
    transition: all .4s ease;
}
.home .navigation .bar:hover{
    opacity: 0.8;
    transform: scale(1.1);
}


input[name="r"]{
    position: absolute;
    visibility: hidden;
}
.home .slides{
    width: 400%;
    height: 100%;
    display: flex;
}
.home .slides .slide{
    width: 25%;
    transition: all .6s;
}
.home .slides .slide img{
    width: 100%;
    height: 100%;
}

#r1:checked ~ .s1{
    margin-left: 0;
}
#r2:checked ~ .s1{
    margin-left: -25%;
}
#r3:checked ~ .s1{
    margin-left: -50%;
}
#r4:checked ~ .s1{
    margin-left: -75%;
}





.cat{
    top:0; left:0; right:0;
    background: white;
    width: 100%;
    font-famaly: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between ;
    z-index: 10000;
    position: relative;

}

.cat .nav{
    align-items: center;
}
.cat .nav li{
    list-style-type: none;
}
.cat .nav a{
    padding: 0 1.5rem;
    display: block;
    font-size: 2rem;
    color: mediumslateblue;
    font-famaly: Verdana;
}
.cat .nav ul {
    padding: 1rem;
    position: relative;
    left: -20%;
    text-align: left;
}
.cat .nav ul li{
    position: relative;
    float: left;
}
.cat .nav ul li h3{

    position: relative;

    align-items: center;
    display: block;

}
.cat .nav ul li ul{
    position: absolute;
    left: 0;
    width: 250px;
    display: none;
    border: .1rem solid rgba(0,0,0,.1);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    background-color: white;
}
.cat .nav ul li ul li{
    padding-top: .5rem;
    font-size: 1.75rem;
    width: 100%;
}
.cat .nav ul li ul li a{
    font-size: 1.55rem;
    padding: .2rem;
    color: #333333;
}
.cat .nav ul li ul li a:hover{
    color: #ff6800;
}
.cat .nav ul li:hover > ul{
    display: initial;
    position: absolute;
}


.cat .nav .all a{
    padding: 0 1.5rem;
    display: block;
    font-size: 2rem;
    color: mediumslateblue;
    font-famaly: Verdana, Geneva, Tahoma, sans-serif;
}

.cat .nav .all a:hover{
    color: darkorange;
}




.fio .nav{
    align-items: center;
}
.fio .nav li{
    list-style-type: none;
}
.fio .nav a{
    padding: 0 1.5rem;
    display: block;
    font-size: 2rem;
    color: #333333;
    font-famaly: Verdana;
}
.fio .nav ul {
    position: absolute;
    margin-top: -2rem;
    margin-left: 7rem;
    text-align: left;
}

.fio .nav ul li ul{
    width: 200px;
    display: none;
    border: .1rem solid rgba(0,0,0,.1);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    background-color: white;
}
.fio .nav ul li ul li{
    padding-top: .5rem;
    font-size: 1.75rem;
    width: 100%;
}
.fio .nav ul li ul li a{
    font-size: 1.55rem;
    padding: .2rem;
    color: #333333;
}

.fio .nav ul li:hover > ul{
    display: initial;
    position: absolute;
    margin-top: .1rem;
    margin-left: -10rem;
}











.credit{
    text-align: center;
    padding: 2.5rem;
    margin-top: 0;
    padding-top: .5rem;
    font-size: 2rem;
    color: #333333;
    border-top: .1rem solid rgba(0,0,0,.1);
}



.products-show{
    padding-top: .1rem;
}

.products-show .box-container-show{
    display: flex;
    flex-wrap: wrap;
    gap:4.5rem;
}
.products-show .box-container-show .box-show{

    width: 35rem;
    height: 50rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    border: .1rem solid rgba(0,0,0,.1);
    position: relative;
}
.products-show .box-container-show .box-show .discount-show{
    position: absolute;
    top:3rem; left:1rem;
    padding: .7rem 1rem;
    font-size: 2.5rem;
    color: mediumslateblue;
    z-index: 1;
    border-radius: .5rem;
}

.products-show .box-container-show .box-show .image .icons-show {
    position: absolute;
    top:8.5%;
    transform: translateY(-50%) translateX(70%);
    background: none;
}
.products-show .box-container-show .box-show .image .icons-show a{
    padding-top: 3.75rem;
    padding-right: 1rem;
    padding-left: 15rem;
    font-size: 2rem;
    color: mediumslateblue;
}
.products-show .box-container-show .box-show .image .icons-show a:hover{
    color: #ff6800;
}
.products-show .box-container-show .box-show .image{

    width: 35rem;
    height: 40rem;
    position: relative;
    text-align: center;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    overflow: hidden;
}
.products-show .box-container-show .box-show .image img{
    position: relative;
    right: 110px;
    height: 100%;

}
.products-show .box-container-show .box-show:hover .image img{
    transform: scale(1.1);
}


.products-show .box-container-show .box-show .content-show{
    padding: 2rem;
    text-align: center;
}
.products-show .box-container-show .box-show .content-show h3{
    text-transform: uppercase;
    font-size: 1.75rem;
    color: #333333;
}
.products-show .box-container-show .box-show .content-show .price-show{
    font-size: 2.5rem;
    color: #333333;
    font-weight: bolder;
    padding-top: 1rem;
}
.products-show .box-container-show .box-show .content-show .price-show span{
    font-size: 1.5rem;
    color: #666666;
    font-weight: lighter;
    text-decoration: line-through ;
}

.doOrder{
    padding-top: 10rem;
    width: 100%;
    height: 60rem;
}
.doOrder a{
    padding: 10rem ;
    font-size: 24px;
    color: mediumslateblue;
}










.message{
    position: absolute;
    margin-left: 15rem;
    margin-top: 2rem;
    font-size: 2rem;
    color: red;

}

.probel{
    margin-top: 5rem;
    color: white;
}



.btn-log{
    position: absolute;
    display:inline-block ;

    margin-left: 20rem;
    border-radius: 5rem;
    background: #333333;
    color: #eeeeee;
    padding: .5rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.btn-log:hover{
    background-color: mediumslateblue;
}

.btn{
    display:inline-block ;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333333;
    color: #eeeeee;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn-ord{
    display:inline-block ;
    margin-top: 5rem;
    margin-left: 20rem;
    border-radius: 5rem;
    background: #333333;
    color: #eeeeee;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.btn-ord:hover{
    background-color: mediumslateblue;
}




.bask{
    padding-top: 10rem;
}



.log{
    margin-top: 10rem;
    margin-bottom: 20rem;
    margin-left: 25rem;
    width: 100rem;
}
.log .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}



.log .row form{
    flex:1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    border: .1rem solid rgba(0,0,0,.1);
    background: white;

}
.log .row form .box{
    padding: 1rem;
    font-size: 1.7rem;
    color:#333333;
    text-transform: none;
    border: .1rem solid rgba(0,0,0,.1);
    border-radius: .25rem;
    margin: .7rem 0;
    width: 100%;
}
.log .row form .box:focus{
    border-color: #ff6800;
}

.log a{
    position: absolute;
    margin-left: 30rem;
    margin-top: 2rem;
    font-size: 1.25rem;
}

.messagelog{
    position: absolute;
    margin-left: 38rem;
    padding-top: 7rem;
    font-size: 2rem;
    color: red;
}





